body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
}

* {
  list-style-type: none;
}

* {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
padding-left: 80px;
padding-right: 80px;
}